<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {background-color: #262a2f;}
    </style>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="card text-center bg-dark text-white" style="width: 24rem;">
            <div class="card-body">
                <h1 class="card-title mb-4">Dashboard Login</h1>
                <p class="card-text">Login with your Discord account to access the dashboard.</p>
                <a href="/auth/discord" class="btn btn-primary btn-block mt-4">Login with Discord</a>
            </div>
        </div>
    </div>
</body>
</html>
