body {
    font-family: Arial, sans-serif;
    background-color: #343a40 !important;
    color: #262a2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Navbar */
.sidebar {
    height: 100vh;
    position: fixed;
}

.nav-link.active {
    background-color: #495057;
}

.nav-link:hover {
    background-color: #495057;
}

/* Navbar */

/* Login seite und Global */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #23272a;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #7289da;
    border: none;
}

.btn-primary:hover {
    background-color: #5b6eae;
}
/* Login seite und Global */
